@import url('https://fonts.googleapis.com/css2?family=Rammetto+One&family=Sigmar&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

